body {
    font-family: Arial, sans-serif;
    background-color: #0f2060;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
}

section {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
}

h3 {
    font-size: 24px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}
